<h1><%= @user.namae %>のページ</h1>
<p>メールアドレス:<%= @user.email %></p>

<%# <% @users.each do |user| %> %>
  <%# <tr> %>
    <%# <td><%= user.tasks</td> %> %>
  <%# </tr> %>
<%# <% end %> %>

<%= link_to "ユーザー管理画面", admin_users_path %>


